* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: red 2px solid;
}

#trybewarts-forms-logo {
  display: flex;
  justify-content: flex-start;
  height: 500px;
}

.containerEvaluationForm {
  display: flex;
  margin: 8px;
  gap: 8px;


}
.family{
display: flex;
flex-direction: column;

}